{% extends 'base.html.twig' %}

{# @var city \App\Entity\City #}
{# @var forecasts \App\Entity\Forecast[] #}

{% block title %}Weather in {{ city.getCityName() }}, {{ city.getCountryCode() }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <main>
        <h1>Weather in {{ city.getCityName() }}, {{ city.getCountryCode() }}</h1>

        <ul>
            {% for forecast in forecasts %}
                <li>{{ forecast.getDate()|date('d.m.Y') }}: {{ forecast.getTemperature() }}&deg;C</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
